{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Socio app</title>
	{% endif %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'socio/base.css'%}">


  <link rel="shortcuts icon" type="image/png" href="/static/images/sociologo.png">
    
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  .nul{
    padding: 2px 4px;
  }
  #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>

</head>
<body style="background: #F5F5F5;">
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true" style="color: skyblue;"></i> Top</button>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
  <a class="navbar-brand nul" 
  {% if user.is_authenticated %}
  href="{% url 'socio-feed' %}"
  {% endif %}>
      
  <img src="/static/images/sociologo.png" width="30" height="30" class="d-inline-block align-top rounded-circle " style="background-color: white" alt="display logo">
  Socio</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">   
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="nav-item nul">
        <a class="nav-link" href="{% url 'socio-filter' %}"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
      </li>
      
      <li class="nav-item nul">
        <a class="nav-link" href="{% url 'socio-feed' %}"><i class="fa fa-inbox" aria-hidden="true"></i> Newsfeed</a>
      </li>

      <li class="nav-item nul">
        <a class="nav-link" href="{% url 'socio-dashboard' %}"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
      </li>
      
      <li class="nav-item dropdown nul">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          <img src="{{ user.profile.profile_image.url }}" width="29" height="27" class="rounded-circle" alt="display logo">
          {{ user.first_name|capfirst }} {{ user.last_name|capfirst }} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="/templates/notifications/includes/liked_post.html"><i class="fa fa-line-chart" aria-hidden="true"></i> Notifications</a> -->
          
          <a class="dropdown-item" href="{% url 'socio-profile' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Update Profile</a>

          <a class="dropdown-item" href="{% url 'password_reset' %}"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="{% url 'socio-docx' %}"><i class="fa fa-file" aria-hidden="true"></i> Documents</a>

          <a class="dropdown-item" href="{% url 'socio-delete' %}"><i class="fa fa-cog" aria-hidden="true"></i> Delete Account</a>
          
        </div>

        </li>
          <li class="nav-item nul" >
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>

        {% else %}
          <li class="nav-item nul" >
            <a class="nav-link" href="{% url 'socio-home' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>

           <li class="nav-item nul">
            <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </li> 

          <li class="nav-item nul">
            <a class="nav-link" href="{% url 'socio-register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
          </li>
          
        {% endif %}
        </ul>

    </div>
</nav>

  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif%}
    <div class="row">
    <div class="col-sm-8">
      {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4">
          <div class="content-section">
            <h3>Socio</h3>
            <p class='text-muted'>Explore : Quick access
              <ul class="list-group">
                
                <li class="list-group-item list-group-item-light" style="text-align: center;">
            <a class="btn btn-success btn-sm mt-1 mb-1" 
            href="{% url 'post-create'%}">Create New Post</a></li>
                
                <li class="list-group-item list-group-item-light" style="text-align: center;">
            <a class="btn btn-info btn-sm mt-1 mb-1" 
            href="{% url 'socio-trending'%}">What's Trending?</a>
                </li>

                <li class="list-group-item list-group-item-light" style="text-align: center;"><a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'socio-bookmark'%}">Your Bookmarks!</a></li>
                
              </ul>
            </p>
          </div>
        </div>
    </div>
    {% endif %}
      
    
    
    </div>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
<script type="text/javascript">
  
  var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body> 
</html>