{% extends "socio/base.html" %}
{% block content %}
 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'socio-feed'  %}">Back to News Feed!</a>
<div class="jumbotron">
  <h1 class="display-4">Hey {{ user.first_name|capfirst }}, Welcome to your Dashboard !</h1>
  
        <hr class="my-4">
          {% if count %}
          <p class="lead">
            You have uploaded {{ count }} post !!
          </p>
          {% else %}
          <p class="lead">
            You don't have any post!!
          </p>
          {% endif %}

  
  <a class="btn btn-primary btn-lg" href="{% url 'post-create'  %}" role="button">New Post</a>
</div>

 {% for post in posts %}
 {% if forloop.first %}<div class="row">{% endif %}
  <div class="col-sm-6">
    <article class="media content-section row">
              <img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}">
              <div class="media-body ">
                <div class="article-metadata">
                  <strong class="mr-2" href="{% url 'socio-profile'%}">{{ post.author }}</strong>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                  <img src="{{ post.image.url}}" class="imgpost" style="width: 100%;height: auto;">
                <h4>{{ post.title }}</h4>
                <a class="btn btn-primary btn-sm mt-1 mb-1" 
                    href="{% url 'post-detail' post.id %}">Checkout <span class="badge badge-light">Now !</span></a>
                </div>
                
                
              </div>
    </article>
  </div>  
{% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}

{% endfor %}
{% endblock content %}