{% extends "socio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Socio App!!</h1>
  <hr class="my-4">
  <p><i>Sign in to your account and checkout out new exciting post!!</i></p>
</div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        
        <div class="border-top pt-3">
            <small class="text-muted">
                 <a  href="{% url 'password_reset' %}">Forget Password?</a>
            </small></br>
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'socio-register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}