{% extends "socio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Create a New Post!!</h1>
  <hr class="my-4">
  <p><i>Its time to rock</i></p>
</div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4">Socio Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}