
{% extends "socio/base.html" %}
{% block content %}
<div>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'socio-feed'%}">Back to Neewsfeed</a>
</div>
      
        <article class="media content-section row">
          <img class="rounded-circle article-img" src="{{ object.author.profile.profile_image.url }}">
          <div class="media-body">

            <div class="article-metadata">
              <strong><p>{{ object.author }}</p></strong>
              {% if object.author == user %}
                <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
              {% endif %}
            </div>
            <p class="article-content">
            <img src="{{object.image.url}}" class="imgpost">
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </p>
            <h2 class="article-title">{{ object.title }}</h2>
            {% if object.link != "" %}
              <p class="article-content">
              <a href="{{ object.link }}" target="_blank">{{ object.link }}</a>
              </p>
            {% endif %}
            <p class="article-content">{{ object.caption }}</p>
            <p class="article-content">{{ total_likes }}  <i class="fa fa-heart fa-lg" style="color: red;" aria-hidden="true"></i>{% if is_favorite %}  &nbsp;&nbsp;saved &nbsp;&nbsp;<a href="{% url 'socio-favorite' id=object.id %}"><i class="fa fa-bookmark fa-2x" style="color: green;" aria-hidden="true"></i></a>{%else%}  &nbsp;&nbsp;Bookmark &nbsp;&nbsp;<a href="{% url 'socio-favorite' id=object.id %}"><i class="fa fa-bookmark-o fa-2x" style="color: green;" aria-hidden="true"></i></a>{% endif %}
            </p>
             
            
            <div>
              <form method="POST" action="{% url 'socio-like' %}">
                  {% csrf_token%}
                {% if is_liked %}
                <button  type="submit" name="post_id" value="{{object.id}}" 
                class="btn btn-danger">DisLike</button>
                {% else %}
                <button  type="submit" name="post_id" value="{{object.id}}" 
                class="btn btn-primary">like</button>
                {% endif %}
              </form>  

              
            </div>
            

        </article>

<form method="POST">
  {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" name="comment" class="btn btn-warning">
  
</form>    

<div class="main-comment-section">
  {{comments.count}} Comment{{comments|pluralize}}
</div>

{% for comment in comments %}
  <blockquote class="blockquote">
    <p>{{ comment.content}}</p>
    <footer class="blockquote-footer">
      By <cite>{{comment.user|capfirst}}

        {% ifequal  object.author.id user.id%}
        <a href="{% url 'socio-comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        {% endifequal %}
        {% ifequal comment.user.id user.id%}
            {% ifequal comment.user.id object.author.id%}
            {% else %}
            <a href="{% url 'socio-comment' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            {% endifequal %}
        {% endifequal %}
        </cite> 
    </footer>
  </blockquote>
{% endfor %}

{% endblock content %}
