{% extends "socio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
      <div class="media">
        <img class="rounded-circle imgg"  src="{{ user.profile.profile_image.url }}">
        <div class="media-body">
          <h2 class="imgh">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info</legend>
                {{ uform|crispy }}
                {{ pform|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}


