{% extends "socio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Socio App!</h1>
  <h5>Join the amazing site today!</h5>
  <hr class="my-4">
  <p><i>Sign up here to make an account on the most trending app of 2020.</i></p>
</div>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?<a class="ml-2" href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
{% endblock %}