{% extends "socio/base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">What's Trending?</h1>
  <hr class="my-4">
  <p><i>Most liked Post of our app!!</i></p>
</div>

<div class="row">
{% for post in posts|slice:":2" %}
<div class="col-sm-6">
    <article class="media content-section" style="align-content: center;">

      <div class="card mb-3 row">
        <img class="card-img-top" src="{{ post.image.url}}" alt="Card image cap" 
        style="height: 100%;width:100%;">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">By : {{ post.author }} </p>
          <p class="card-text"><small class="text-muted">{{ post.likecount }} <i class="fa fa-heart fa-lg" style="color: red;" aria-hidden="true"></i>&nbsp;
          <a class="btn btn-secondary btn-sm mt-1 mb-1" 
          href="{% url 'post-detail' post.id %}">Checkout <span class="badge badge-light">Now !</span></a></small></p>
        </div>
      </div>
    </article>
</div>
{% endfor %}
</div>
{% endblock content %}
